---
import BaseLayout from "../../layouts/BaseLayout.astro";
import Main from "../../components/Main.astro";
import { getCollection, render } from "astro:content";
import H1 from "../../components/H1.astro";

//Getting the paths to the posts (value defined in Astro.props)
export async function getStaticPaths() {
  const posts = await getCollection("blog");
  return posts.map((post) => ({
    params: { id: post.id },
    props: { post },
  }));
}
//Declaring values from the prop
const { post } = Astro.props;
const { Content } = await render(post);
---

<BaseLayout title={post.data.title} description={post.data.description}>
  <article>
    <Main>
      <div class="prose prose-xl dark:text-neutral-200">
        <H1 title={post.data.title} />
        <Content />
      </div>
    </Main>
  </article>
</BaseLayout>
