---
import BaseLayout from "../../layouts/BaseLayout.astro";

import { getCollection, render } from "astro:content";

//Getting the paths to the posts (value defined in Astro.props)
export async function getStaticPaths() {
  const posts = await getCollection("blog");
  return posts.map((post) => ({
    params: { id: post.id },
    props: { post },
  }));
}
//Declaring values from the prop
const { post } = Astro.props;
const { Content } = await render(post);
---

<BaseLayout title={post.data.title} description={post.data.description}>
  <h1>{post.data.title}</h1>
  <Content />
</BaseLayout>
