---
import BaseLayout from "../layouts/BaseLayout.astro";
import { getCollection } from "astro:content";
import BlogCard from "../components/BlogCard.astro";
import Main from "../components/Main.astro";
import H1 from "../components/H1.astro";

const publishedBlogEntries = await getCollection("blog", ({ data }) => {
  return import.meta.env.PROD ? data.draft !== true : true;
});
---

<BaseLayout
  title="Blog"
  description="The blog for DPapey, focusing on modern web full-stack web development and also photography inspiration."
>
  <Main>
    <H1 title="My Blog" />
    <div
      class="grid grid-cols-3 md:grid-cols-2 sm:grid-cols-1 gap-y-5 w-full gap-x-5 pt-10"
    >
      {publishedBlogEntries.map((post) => <BlogCard post={post} />)}
    </div>
  </Main>
</BaseLayout>
