---
import BaseLayout from "../layouts/BaseLayout.astro";
import Hero from "../components/Hero.astro";
---

<BaseLayout
	title="Home"
	description="Welcome to the home of DPapey, a full-stack developer and CISCO Networking Academy Student."
>
	<main>
		<h1>Hello World</h1>
	</main>
</BaseLayout>
