---
import { Icon } from "astro-icon/components";

const Copyright = new Date().getFullYear();
---

<footer class="text-neutral-900 dark:text-neutral-200 py-6 bottom-0 mt-16">
  	<div class="max-w-6xl mx-auto px-6 flex flex-col md:flex-row justify-between items-center">
    	<!-- Left: Copyright -->
    	<p class="text-sm font-sans">
      		&copy; {Copyright} DPapey. All rights reserved.
    	</p>
  	</div>
</footer>
