---
import MotionH1 from "./MotionH1.tsx";
import { heroData } from "../content/data";
---

<section
  id="hero"
  class="relative flex items-center h-screen justify-center rounded-3xl overflow-hidden"
>
  {/* SVG network pattern as a background */}
<svg
  aria-hidden="true"
  class="absolute inset-0 w-full h-full opacity-30 dark:opacity-15 pointer-events-none"
  xmlns="http://www.w3.org/2000/svg"
  fill="none"
  stroke="currentColor"
		strokeWidth="0.5"
		    style={{
      maskImage: 'linear-gradient(to bottom, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 70%, rgba(0,0,0,0) 100%)',
      WebkitMaskImage: 'linear-gradient(to bottom, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 70%, rgba(0,0,0,0) 100%)'
    }}
>
  <defs>
    <pattern id="hex" x="0" y="0" width="40" height="32" patternUnits="userSpaceOnUse">
      <polygon points="20 0 40 10 40 25 20 35 0 25 0 10" />
    </pattern>
  </defs>
  <rect width="100%" height="100%" fill="url(#hex)" />
</svg>

  <div class="text-center max-w-4xl transform -translate-y-16 dark:text-slate-200 text-slate-800 relative z-10">
    <MotionH1 title={heroData.title} client:visible />

    <p class="mt-4 text-xl max-w-2xl mx-auto">{heroData.description}</p>

    <a
      href={heroData.ctaLink}
      class="mt-6 inline-block px-6 py-3 text-lg font-semibold rounded-3xl bg-white text-gray-900 hover:bg-gray-200 transition"
    >
      {heroData.ctaText}
    </a>
  </div>
</section>
