---
import H1 from "../components/H1.astro";
---

<section
  id="hero"
  class="relative h-screen flex items-center justify-center text-white bg-radial animate-gradient-shift"
>
  <div class="text-center">
    <H1 title="Hello, I am Dean Pape" />
    <p class="mt-4 text-lg max-w-2xl mx-auto">
      My site is made entirely possible with 🚀 Astro
    </p>
    <a
      href="/about"
      class="mt-6 inline-block px-6 py-3 text-lg font-semibold rounded-lg bg-white text-gray-900 hover:bg-gray-300 transition"
      >Learn More</a
    >
  </div>
</section>
