<div class="nav-wrapper">
  <div class="navbar">
    <nav class="navbar">
      <ul class="nav-list">
        <li><a href="/">Home</a></li>
        <li><a href="/blog">Blog</a></li>
        <li><a href="/work">Work</a></li>
        <li><a href="/about">About</a></li>
      </ul>
    </nav>
  </div>
  <div class="icon-container">
    <a href="#" class="icon-link"></a>
  </div>
</div>

<style>
  .nav {
  }
</style>
