---
import NavLink from "./NavLink.astro";
import { Icon } from "astro-icon/components";
import ThemeToggle from "../components/ThemeToggle.astro";
---

<header
  class="top-0 left-0 w-full absolute overflow-hidden z-50 bg-white/50 dark:bg-gray-900/60 transition-colors duration-300"
>
  <div class="flex justify-between items-center px-10 py-4 w-full">
    <!-- Navigation -->
    <div class="rounded-full px-8 py-2 border-slate-500">
      <nav class="hidden sm:flex">
        <ul class="flex space-x-4 sm:space-x-6 lg:space-x-6">
          <NavLink path="/" title="Home" />
          <NavLink path="/blog" title="Blog" />
          <NavLink path="/work" title="Work" />
          <NavLink path="/about" title="About" />
        </ul>
      </nav>
    </div>

    <!--Right Side (Icon and Theme Toggle)-->
    <div class="flex items-center space-x-4 sm:space-x-6">
      <a
        href="https://twitch.tv/dpapey"
        target="_blank"
        rel="noopener noreferrer"
      >
        <Icon
          name="twitch"
          class="size-8 text-neutral-600 dark:text-neutral-300 hover:opacity-50 transition"
        />
      </a>
      <a
        href="https://github.com/dpapey"
        target="_blank"
        rel="noopener noreferrer"
      >
        <Icon
          name="github"
          class="size-8 text-neutral-600 dark:text-neutral-300 hover:opacity-50 transition"
        />
      </a>
      <a href="/gallery">
        <Icon
          name="film-strip"
          class="size-8 text-neutral-600 dark:text-neutral-300 hover:opacity-50 transition"
        />
      </a>
      <div>
        <ThemeToggle />
      </div>
    </div>
  </div>
</header>
