---
import { skills } from "../content/data";
import { Icon } from "astro-icon/components";
---

<section
  id="skills"
  class="w-full rounded-lg py-16 transition-colors duration-300"
>
  <div class="max-w-7xl mx-auto px-6">
    <h2
      class="text-4xl font-bold text-center text-gray-900 dark:text-white mb-10"
    >
      My Skills
    </h2>
    <div
      class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-12 bg-slate-800 p-10 rounded-md shadow-lg bg-opacity-20 bg-blend-saturation"
    >
      {
        skills.map((skill) => (
          <div class="bg-white dark:bg-gray-900 p-6 rounded-xl shadow-lg hover:shadow-xl transition-shadow duration-300">
            <div class="flex justify-center items-center mb-4">
              <Icon
                name={skill.icon}
                class="text-4xl dark:text-white transition-colors duration-300"
              />
            </div>
            <h3 class="text-xl font-semibold text-center text-gray-900 dark:text-white mb-2">
              {skill.title}
            </h3>
            <p class="text-center text-gray-600 dark:text-gray-300">
              {skill.description}
            </p>
          </div>
        ))
      }
    </div>
  </div>
</section>
